.book-container {
  .right-content {
    display: flex;
    padding: 10px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
  }
  .right-content:hover {
    transform: scale(1.01);
  }
  .right-content img {
    border-radius: 10px;
    max-width: 340px;
  }
  .left-content {
    color: white;
  }
  .left-content .author {
    border-left: 5px solid black;
    border-radius: 5px;
    width: 100%;
    max-width: 550px;
  }
  .box-tag-book {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 550px;
  }

  .tag-book {
    background: black;
    padding: 8px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
  }
}
